@charset "utf-8";

.spinMode{
    transform: rotate(-180deg)!important;
    transition: var(--transition1);
}
.spinModeAll{
    /*animation: 2s rotateOneSens linear reverse;*/
    transform:  scale(1) rotate(-360deg)!important;
    transition: var(--transition1) !important;
}

@keyframes rotateOneSens {
    from{
        transform: rotate(0deg);
        background: none;
    }
    to{
        background: red;
        transform: rotate(-36deg)!important;
    }
}

.importantTasks{
    border: 2px dashed var(--red);
}
.importantTasks_color{
    color: var(--red)!important;
}
.specialTasks{
    border: 2px dashed var(--green);
}
.specialTasks_color{
    color: var(--green)!important;
}