@charset "utf-8";

.menu{position: relative}

#clickMenu1,#clickMenu2{
    background: var(--td_bg_container);
    border-radius: 500%;
    padding: 10%;
    transition: var(--transition3);
}

.menu_der{
    position: absolute;
    bottom: -85px;
    right: 0;
    transform: translate(-0%, 50%) scale(0);
    background: var(--w);
    border-radius: var(--border1);
    box-shadow: var(--td_bx_shadow_container);
    opacity: 0;
    transition: var(--transition3);
    transform-origin: top right;
    z-index: 9999999;
}
.menu_der ul{
    padding: 0.5em;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    min-width: 200px;
    list-style: none;
    box-shadow: 0 0 3px 0 var(--b_sec_o);
    border-radius: var(--border1);
}
.menu_der ul li{
    border-radius: var(--border1);
    background: var(--w);
    padding: 1em;
    gap: 1em;
    word-break: break-word;
    display: flex;
    flex-direction: row;
    align-content: center;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
    /*margin: auto;*/
}
.menu_der ul li i{
    /*width: 10%;*/
    font-size: initial!important;
}
.menu_der ul li a p{
    color: initial;
}
.menu_der ul li a{
    text-decoration: none;
    gap: 1em;
    display: flex;
    align-items: center;
    align-content: center;
}
.menu_der ul li:hover {
    background: var(--td_bg_body);
}
.iconDirection{
    display: flex;
    align-items: center;
    width: 10%;
    gap: .1em;
    flex-direction: column;
}
.square1,.square2{
    border: 1px solid var(--b);
    width: 10px;
    height: 10px;
    border-radius: 1px;
}