@charset "utf-8";

@media screen and (max-width:500px){
    @media (prefers-color-scheme: dark){
        :root{
            --background-color: #233333;
            --td_bg_container:var(--td_bg_container_dm);
            --td_bg_body:var(--td_bg_body_dm);

            --td_bg_container_on:#a5cbcb;

            --td_bx_shadow_container:0 0 16px 2px rgba(64, 41, 85, 0.08);

            --td_color_title:#2a2e35;
            --td_color_title_secondaire:#fff;
            --td_color_title_tertiaire:#5475b1;
            --td_color_grey:#6f7681;
            --td_color_grey_2:#f1f1f1de;
        }
        .save p {flex-direction: column}
        .headerOne {flex-direction: column; align-items: flex-start;}
        .subSearch {flex-direction: column}
        .filterTop_selector {width: 100% !important}
        .filter_selector {width: 100% !important}
    }
}
